snippet cw1
	${1:variable} == ${2:observation} ~ ${3:new observation}

snippet cwm
	${1:variable} %in% c(${2:observations}) ~ ${3:new observation}
	
snippet cw3
	${1:variable1} == ${2:observation1} & ${3:variable2} == ${4:observation2} ~ ${4:new observation}
